schema/editem-bibliolist.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.tei-c.org/ns/1.0" xmlns:tei="http://www.tei-c.org/ns/1.0">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <!--
    Schema generated from ODD source 2025-03-20T13:25:57Z. .
    TEI Edition: 
    TEI Edition Location: https://www.tei-c.org/Vault/P5//
    
  -->
  <!---->
  <xs:complexType name="tei_macro.paraContent" mixed="true">
    <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.paraPart"/>
  </xs:complexType>
  <xs:complexType name="tei_macro.phraseSeq" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="tei:tei_model.phrase"/>
      <xs:group ref="tei:tei_model.global"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="tei_macro.specialPara" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:group ref="tei:tei_model.phrase"/>
      <xs:group ref="tei:tei_model.inter"/>
      <xs:group ref="tei:tei_model.divPart"/>
      <xs:group ref="tei:tei_model.global"/>
    </xs:choice>
  </xs:complexType>
  <xs:attributeGroup name="tei_att.cReferencing.attributes">
    <xs:attributeGroup ref="tei:tei_att.cReferencing.attribute.cRef"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.cReferencing.attribute.cRef">
    <xs:attribute name="cRef" type="xs:string"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.canonical.attributes">
    <xs:attributeGroup ref="tei:tei_att.canonical.attribute.key"/>
    <xs:attributeGroup ref="tei:tei_att.canonical.attribute.ref"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.canonical.attribute.key">
    <xs:attribute name="key" type="xs:string">
      <xs:annotation>
        <xs:documentation>provides an externally-defined means of identifying the entity (or entities) being named, using a coded value of some kind.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.canonical.attribute.ref">
    <xs:attribute name="ref">
      <xs:annotation>
        <xs:documentation>(reference) provides an explicit means of locating a full definition or identity for the entity being named by means of one or more URIs.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:anyURI">
                  <xs:pattern value="\S+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.cmc.attributes">
    <xs:attributeGroup ref="tei:tei_att.cmc.attribute.generatedBy"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.cmc.attribute.generatedBy">
    <xs:attribute name="generatedBy">
      <xs:annotation>
        <xs:documentation>(generated by) categorizes how the content of an element was generated in a CMC environment.
Suggested values include: 1] human; 2] template; 3] system; 4] bot; 5] unspecified</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="human">
                <xs:annotation>
                  <xs:documentation>the content was naturally typed or spoken by a human user</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="template">
                <xs:annotation>
                  <xs:documentation>the content was generated after a human user activated a template for its insertion</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="system">
                <xs:annotation>
                  <xs:documentation>the content was generated by the system, i.e. the CMC environment</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="bot">
                <xs:annotation>
                  <xs:documentation>the content was generated by a bot, i.e. a non-human agent, typically one that is not part of the CMC environment itself</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="unspecified">
                <xs:annotation>
                  <xs:documentation>the content was generated by an unknown or unspecified process</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:pattern value="[^\p{C}\p{Z}]+"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.datable.w3c.attributes">
    <xs:attributeGroup ref="tei:tei_att.datable.w3c.attribute.when"/>
    <xs:attributeGroup ref="tei:tei_att.datable.w3c.attribute.notBefore"/>
    <xs:attributeGroup ref="tei:tei_att.datable.w3c.attribute.notAfter"/>
    <xs:attributeGroup ref="tei:tei_att.datable.w3c.attribute.from"/>
    <xs:attributeGroup ref="tei:tei_att.datable.w3c.attribute.to"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.datable.w3c.attribute.when">
    <xs:attribute name="when">
      <xs:annotation>
        <xs:documentation>supplies the value of the date or time in a standard form, e.g. yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.datable.w3c.attribute.notBefore">
    <xs:attribute name="notBefore">
      <xs:annotation>
        <xs:documentation>specifies the earliest possible date for the event in standard form, e.g. yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.datable.w3c.attribute.notAfter">
    <xs:attribute name="notAfter">
      <xs:annotation>
        <xs:documentation>specifies the latest possible date for the event in standard form, e.g. yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.datable.w3c.attribute.from">
    <xs:attribute name="from">
      <xs:annotation>
        <xs:documentation>indicates the starting point of the period in standard form, e.g. yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.datable.w3c.attribute.to">
    <xs:attribute name="to">
      <xs:annotation>
        <xs:documentation>indicates the ending point of the period in standard form, e.g. yyyy-mm-dd.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union memberTypes="xs:date xs:gYear xs:gMonth xs:gDay xs:gYearMonth xs:gMonthDay xs:time xs:dateTime"/>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.declarable.attributes">
    <xs:attributeGroup ref="tei:tei_att.declarable.attribute.default"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.declarable.attribute.default">
    <xs:attribute name="default" default="false">
      <xs:annotation>
        <xs:documentation>indicates whether or not this element is selected by default when its parent is selected.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="true">
            <xs:annotation>
              <xs:documentation>This element is selected if its parent is selected</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="false">
            <xs:annotation>
              <xs:documentation>This element can only be selected explicitly, unless it is the only one of its kind, in which case it is selected if its parent is selected.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.declaring.attributes">
    <xs:attributeGroup ref="tei:tei_att.declaring.attribute.decls"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.declaring.attribute.decls">
    <xs:attribute name="decls">
      <xs:annotation>
        <xs:documentation>(declarations) identifies one or more declarable elements within the header, which are understood to apply to the element bearing this attribute and its content.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:anyURI">
                  <xs:pattern value="\S+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.docStatus.attributes">
    <xs:attributeGroup ref="tei:tei_att.docStatus.attribute.status"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.docStatus.attribute.status">
    <xs:attribute name="status" default="draft">
      <xs:annotation>
        <xs:documentation>describes the status of a document either currently or, when associated with a dated element, at the time indicated.
Sample values include: 1] approved; 2] candidate; 3] cleared; 4] deprecated; 5] draft; 6] embargoed; 7] expired; 8] frozen; 9] galley; 10] proposed; 11] published; 12] recommendation; 13] submitted; 14] unfinished; 15] withdrawn</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:pattern value="[^\p{C}\p{Z}]+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.editLike.attributes">
    <xs:attributeGroup ref="tei:tei_att.editLike.attribute.evidence"/>
    <xs:attributeGroup ref="tei:tei_att.editLike.attribute.instant"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.editLike.attribute.evidence">
    <xs:attribute name="evidence">
      <xs:annotation>
        <xs:documentation>indicates the nature of the evidence supporting the reliability or accuracy of the intervention or interpretation.
Suggested values include: 1] internal; 2] external; 3] conjecture</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:union>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="internal">
                        <xs:annotation>
                          <xs:documentation>there is internal evidence to support the intervention.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="external">
                        <xs:annotation>
                          <xs:documentation>there is external evidence to support the intervention.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="conjecture">
                        <xs:annotation>
                          <xs:documentation>the intervention or interpretation has been made by the editor, cataloguer, or scholar on the basis of their expertise.</xs:documentation>
                        </xs:annotation>
                      </xs:enumeration>
                    </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:pattern value="[^\p{C}\p{Z}]+"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:union>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.editLike.attribute.instant">
    <xs:attribute name="instant" default="false">
      <xs:annotation>
        <xs:documentation>indicates whether this is an instant revision or not.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union memberTypes="xs:boolean">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="unknown">
                <xs:annotation>
                  <xs:documentation/>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="inapplicable">
                <xs:annotation>
                  <xs:documentation/>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.rendition.attributes">
    <xs:attributeGroup ref="tei:tei_att.global.rendition.attribute.rend"/>
    <xs:attributeGroup ref="tei:tei_att.global.rendition.attribute.style"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.rendition.attribute.rend">
    <xs:attribute name="rend">
      <xs:annotation>
        <xs:documentation>(rendition) indicates how the element in question was rendered or presented in the source text.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:enumeration value="above">
                    <xs:annotation>
                      <xs:documentation>Above</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="below">
                    <xs:annotation>
                      <xs:documentation>Below</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="blockletter">
                    <xs:annotation>
                      <xs:documentation>Block capitals</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="bold">
                    <xs:annotation>
                      <xs:documentation>Bold</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="border">
                    <xs:annotation>
                      <xs:documentation>Border</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="bullet">
                    <xs:annotation>
                      <xs:documentation>List to be rendered with bullets</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="center">
                    <xs:annotation>
                      <xs:documentation>Centered</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="indent">
                    <xs:annotation>
                      <xs:documentation>Indented</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="inline">
                    <xs:annotation>
                      <xs:documentation>Inline</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="italics">
                    <xs:annotation>
                      <xs:documentation>Italics</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="left">
                    <xs:annotation>
                      <xs:documentation>Settled on the left of the page</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="multiple-underline">
                    <xs:annotation>
                      <xs:documentation>Underlined with multiple lines</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="overwritten">
                    <xs:annotation>
                      <xs:documentation>Overwritten</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="norend">
                    <xs:annotation>
                      <xs:documentation>Element to be ignored in visualization</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="plain">
                    <xs:annotation>
                      <xs:documentation>No special rendering</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="reverse-indent">
                    <xs:annotation>
                      <xs:documentation>Reverse-indented</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="right">
                    <xs:annotation>
                      <xs:documentation>Settled on the right of the page</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="sc">
                    <xs:annotation>
                      <xs:documentation>Smallcaps</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="spaced">
                    <xs:annotation>
                      <xs:documentation>Spaced, each letter is followed by a white space</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="sub">
                    <xs:annotation>
                      <xs:documentation>Subscript</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="super">
                    <xs:annotation>
                      <xs:documentation>Superscript</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="underline">
                    <xs:annotation>
                      <xs:documentation>Underlined</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value="upsidedown">
                    <xs:annotation>
                      <xs:documentation>Upside-down portion of text</xs:documentation>
                    </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.rendition.attribute.style">
    <xs:attribute name="style" type="xs:string">
      <xs:annotation>
        <xs:documentation>contains an expression in some formal style definition language which defines the rendering or presentation used for this element in the source text.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.responsibility.attributes">
    <xs:attributeGroup ref="tei:tei_att.global.responsibility.attribute.cert"/>
    <xs:attributeGroup ref="tei:tei_att.global.responsibility.attribute.resp"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.responsibility.attribute.cert">
    <xs:attribute name="cert">
      <xs:annotation>
        <xs:documentation>(certainty) signifies the degree of certainty associated with the intervention or interpretation.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction base="xs:double">
              <xs:minInclusive value="0"/>
              <xs:maxInclusive value="1"/>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="high">
                <xs:annotation>
                  <xs:documentation/>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="medium">
                <xs:annotation>
                  <xs:documentation/>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="low">
                <xs:annotation>
                  <xs:documentation/>
                </xs:annotation>
              </xs:enumeration>
              <xs:enumeration value="unknown">
                <xs:annotation>
                  <xs:documentation/>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.responsibility.attribute.resp">
    <xs:attribute name="resp">
      <xs:annotation>
        <xs:documentation>(responsible party) indicates the agency responsible for the intervention or interpretation, for example an editor or transcriber.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:anyURI">
                  <xs:pattern value="\S+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.source.attributes">
    <xs:attributeGroup ref="tei:tei_att.global.source.attribute.source"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.source.attribute.source">
    <xs:attribute name="source">
      <xs:annotation>
        <xs:documentation>specifies the source from which some aspect of this element is drawn.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:anyURI">
                  <xs:pattern value="\S+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.internetMedia.attributes">
    <xs:attributeGroup ref="tei:tei_att.internetMedia.attribute.mimeType"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.internetMedia.attribute.mimeType">
    <xs:attribute name="mimeType">
      <xs:annotation>
        <xs:documentation>(MIME media type) specifies the applicable multimedia internet mail extension (MIME) media type.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:pattern value="[^\p{C}\p{Z}]+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.placement.attributes">
    <xs:attributeGroup ref="tei:tei_att.placement.attribute.place"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.placement.attribute.place">
    <xs:attribute name="place">
      <xs:annotation>
        <xs:documentation>Place of a metamark, a note or any portion of text</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="above">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="below">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="inline">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="top margin">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="right margin ">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="left margin ">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="bottom margin">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.pointing.attributes">
    <xs:attributeGroup ref="tei:tei_att.pointing.attribute.targetLang"/>
    <xs:attributeGroup ref="tei:tei_att.pointing.attribute.target"/>
    <xs:attributeGroup ref="tei:tei_att.pointing.attribute.evaluate"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.pointing.attribute.targetLang">
    <xs:attribute name="targetLang">
      <xs:simpleType>
        <xs:union memberTypes="xs:language">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="">
                <xs:annotation>
                  <xs:documentation/>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.pointing.attribute.target">
    <xs:attribute name="target">
      <xs:annotation>
        <xs:documentation>specifies the destination of the reference by supplying one or more URI References.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:anyURI">
                  <xs:pattern value="\S+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.pointing.attribute.evaluate">
    <xs:attribute name="evaluate">
      <xs:annotation>
        <xs:documentation>(evaluate) specifies the intended meaning when the target of a pointer is itself a pointer.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="all">
            <xs:annotation>
              <xs:documentation>if the element pointed to is itself a pointer, then the target of that pointer will be taken, and so on, until an element is found which is not a pointer.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="one">
            <xs:annotation>
              <xs:documentation>if the element pointed to is itself a pointer, then its target (whether a pointer or not) is taken as the target of this pointer.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="none">
            <xs:annotation>
              <xs:documentation>no further evaluation of targets is carried out beyond that needed to find the element specified in the pointer's target.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.ranging.attributes">
    <xs:attributeGroup ref="tei:tei_att.ranging.attribute.atLeast"/>
    <xs:attributeGroup ref="tei:tei_att.ranging.attribute.atMost"/>
    <xs:attributeGroup ref="tei:tei_att.ranging.attribute.min"/>
    <xs:attributeGroup ref="tei:tei_att.ranging.attribute.max"/>
    <xs:attributeGroup ref="tei:tei_att.ranging.attribute.confidence"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.ranging.attribute.atLeast">
    <xs:attribute name="atLeast">
      <xs:annotation>
        <xs:documentation>gives a minimum estimated value for the approximate measurement.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union memberTypes="xs:double xs:decimal">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:pattern value="(\-?[\d]+/\-?[\d]+)"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.ranging.attribute.atMost">
    <xs:attribute name="atMost">
      <xs:annotation>
        <xs:documentation>gives a maximum estimated value for the approximate measurement.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union memberTypes="xs:double xs:decimal">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:pattern value="(\-?[\d]+/\-?[\d]+)"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.ranging.attribute.min">
    <xs:attribute name="min">
      <xs:annotation>
        <xs:documentation>where the measurement summarizes more than one observation or a range, supplies the minimum value observed.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union memberTypes="xs:double xs:decimal">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:pattern value="(\-?[\d]+/\-?[\d]+)"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.ranging.attribute.max">
    <xs:attribute name="max">
      <xs:annotation>
        <xs:documentation>where the measurement summarizes more than one observation or a range, supplies the maximum value observed.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union memberTypes="xs:double xs:decimal">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:pattern value="(\-?[\d]+/\-?[\d]+)"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.ranging.attribute.confidence">
    <xs:attribute name="confidence">
      <xs:simpleType>
        <xs:restriction base="xs:double">
          <xs:minInclusive value="0"/>
          <xs:maxInclusive value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.sortable.attributes">
    <xs:attributeGroup ref="tei:tei_att.sortable.attribute.sortKey"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.sortable.attribute.sortKey">
    <xs:attribute name="sortKey">
      <xs:annotation>
        <xs:documentation>supplies the sort key for this element in an index, list or group which contains it.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:pattern value="[^\p{C}\p{Z}]+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.typed.attributes">
    <xs:attributeGroup ref="tei:tei_att.typed.attribute.type"/>
    <xs:attributeGroup ref="tei:tei_att.typed.attribute.subtype"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.typed.attribute.type">
    <xs:attribute name="type">
      <xs:annotation>
        <xs:documentation>characterizes the element in some sense, using any convenient classification scheme or typology.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:pattern value="[^\p{C}\p{Z}]+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.typed.attribute.subtype">
    <xs:attribute name="subtype">
      <xs:annotation>
        <xs:documentation>(subtype) provides a sub-categorization of the element, if needed.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:pattern value="[^\p{C}\p{Z}]+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.written.attributes">
    <xs:attributeGroup ref="tei:tei_att.written.attribute.hand"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.written.attribute.hand">
    <xs:attribute name="hand">
      <xs:simpleType>
        <xs:restriction base="xs:anyURI">
          <xs:pattern value="\S+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.datable.attributes">
    <xs:attributeGroup ref="tei:tei_att.datable.w3c.attributes"/>
    <xs:attributeGroup ref="tei:tei_att.datable.attribute.period"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.datable.attribute.period">
    <xs:attribute name="period">
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:anyURI">
                  <xs:pattern value="\S+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.dimensions.attributes">
    <xs:attributeGroup ref="tei:tei_att.ranging.attributes"/>
    <xs:attributeGroup ref="tei:tei_att.dimensions.attribute.unit"/>
    <xs:attributeGroup ref="tei:tei_att.dimensions.attribute.quantity"/>
    <xs:attributeGroup ref="tei:tei_att.dimensions.attribute.extent"/>
    <xs:attributeGroup ref="tei:tei_att.dimensions.attribute.precision"/>
    <xs:attributeGroup ref="tei:tei_att.dimensions.attribute.scope"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.dimensions.attribute.unit">
    <xs:attribute name="unit">
      <xs:annotation>
        <xs:documentation>names the unit used for the measurement
Suggested values include: 1] cm (centimetres); 2] mm (millimetres); 3] in (inches); 4] line; 5] char (characters)</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="cm">
                <xs:annotation>
                  <xs:documentation>(centimetres) </xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="mm">
                <xs:annotation>
                  <xs:documentation>(millimetres) </xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="in">
                <xs:annotation>
                  <xs:documentation>(inches) </xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="line">
                <xs:annotation>
                  <xs:documentation>lines of text</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:enumeration value="char">
                <xs:annotation>
                  <xs:documentation>(characters) characters of text</xs:documentation>
                </xs:annotation>
              </xs:enumeration>
            </xs:restriction>
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:pattern value="[^\p{C}\p{Z}]+"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.dimensions.attribute.quantity">
    <xs:attribute name="quantity">
      <xs:annotation>
        <xs:documentation>specifies the length in the units specified</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:union memberTypes="xs:double xs:decimal">
          <xs:simpleType>
            <xs:restriction base="xs:token">
              <xs:pattern value="(\-?[\d]+/\-?[\d]+)"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.dimensions.attribute.extent">
    <xs:attribute name="extent" type="xs:string">
      <xs:annotation>
        <xs:documentation>indicates the size of the object concerned using a project-specific vocabulary combining quantity and units in a single string of words.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.dimensions.attribute.precision">
    <xs:attribute name="precision">
      <xs:annotation>
        <xs:documentation>characterizes the precision of the values specified by the other attributes.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="high">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="medium">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="low">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="unknown">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.dimensions.attribute.scope">
    <xs:attribute name="scope">
      <xs:annotation>
        <xs:documentation>where the measurement summarizes more than one observation, specifies the applicability of this measurement.
Sample values include: 1] all; 2] most; 3] range</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:pattern value="[^\p{C}\p{Z}]+"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.attributes">
    <xs:attributeGroup ref="tei:tei_att.global.rendition.attributes"/>
    <xs:attributeGroup ref="tei:tei_att.global.responsibility.attributes"/>
    <xs:attributeGroup ref="tei:tei_att.global.source.attributes"/>
    <xs:attributeGroup ref="tei:tei_att.global.attribute.xmlid"/>
    <xs:attributeGroup ref="tei:tei_att.global.attribute.n"/>
    <xs:attributeGroup ref="tei:tei_att.global.attribute.xmllang"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.attribute.xmlid">
    <xs:attribute ref="xml:id"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.attribute.n">
    <xs:attribute name="n" type="xs:string">
      <xs:annotation>
        <xs:documentation>(number) gives a number (or other label) for an element, which is not necessarily unique within the document.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.global.attribute.xmllang">
    <xs:attribute ref="xml:lang"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.naming.attributes">
    <xs:attributeGroup ref="tei:tei_att.canonical.attributes"/>
    <xs:attributeGroup ref="tei:tei_att.naming.attribute.role"/>
    <xs:attributeGroup ref="tei:tei_att.naming.attribute.nymRef"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.naming.attribute.role">
    <xs:attribute name="role">
      <xs:annotation>
        <xs:documentation>may be used to specify further information about the entity referenced by this name in the form of a set of whitespace-separated values, for example the occupation of a person, or the status of a place.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:token">
                  <xs:pattern value="[^\p{C}\p{Z}]+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.naming.attribute.nymRef">
    <xs:attribute name="nymRef">
      <xs:annotation>
        <xs:documentation>(reference to the canonical name) provides a means of locating the canonical form (nym) of the names associated with the object named by the element bearing it.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:anyURI">
                  <xs:pattern value="\S+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:group name="tei_model.nameLike.agent">
    <xs:sequence>
      <xs:element ref="tei:name"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.nameLike.agent_alternation">
    <xs:sequence>
      <xs:element ref="tei:name"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.nameLike.agent_sequence">
    <xs:sequence>
      <xs:element ref="tei:name"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.nameLike.agent_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tei:name"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.nameLike.agent_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:name"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.nameLike.agent_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="tei:name"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.hiLike">
    <xs:sequence>
      <xs:element ref="tei:hi"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.hiLike_alternation">
    <xs:sequence>
      <xs:element ref="tei:hi"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.hiLike_sequence">
    <xs:sequence>
      <xs:element ref="tei:hi"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.hiLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tei:hi"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.hiLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:hi"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.hiLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="tei:hi"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.emphLike">
    <xs:sequence>
      <xs:element ref="tei:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.emphLike_alternation">
    <xs:sequence>
      <xs:element ref="tei:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.emphLike_sequence">
    <xs:sequence>
      <xs:element ref="tei:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.emphLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tei:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.emphLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.emphLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="tei:title"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.highlighted">
    <xs:choice>
      <xs:group ref="tei:tei_model.hiLike"/>
      <xs:group ref="tei:tei_model.emphLike"/>
    </xs:choice>
  </xs:group>
  <xs:group name="tei_model.highlighted_alternation">
    <xs:choice>
      <xs:group ref="tei:tei_model.hiLike_alternation"/>
      <xs:group ref="tei:tei_model.emphLike_alternation"/>
    </xs:choice>
  </xs:group>
  <xs:group name="tei_model.highlighted_sequence">
    <xs:sequence>
      <xs:group ref="tei:tei_model.hiLike_sequence"/>
      <xs:group ref="tei:tei_model.emphLike_sequence"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.highlighted_sequenceOptional">
    <xs:sequence>
      <xs:group minOccurs="0" ref="tei:tei_model.hiLike_sequenceOptional"/>
      <xs:group minOccurs="0" ref="tei:tei_model.emphLike_sequenceOptional"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.highlighted_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.hiLike_sequenceOptionalRepeatable"/>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.emphLike_sequenceOptionalRepeatable"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.highlighted_sequenceRepeatable">
    <xs:sequence>
      <xs:group maxOccurs="unbounded" ref="tei:tei_model.hiLike_sequenceRepeatable"/>
      <xs:group maxOccurs="unbounded" ref="tei:tei_model.emphLike_sequenceRepeatable"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.dateLike">
    <xs:sequence>
      <xs:element ref="tei:date"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.dateLike_alternation">
    <xs:sequence>
      <xs:element ref="tei:date"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.dateLike_sequence">
    <xs:sequence>
      <xs:element ref="tei:date"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.dateLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tei:date"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.dateLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:date"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.dateLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="tei:date"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.ptrLike">
    <xs:choice>
      <xs:element ref="tei:ptr"/>
      <xs:element ref="tei:ref"/>
    </xs:choice>
  </xs:group>
  <xs:group name="tei_model.ptrLike_alternation">
    <xs:choice>
      <xs:element ref="tei:ptr"/>
      <xs:element ref="tei:ref"/>
    </xs:choice>
  </xs:group>
  <xs:group name="tei_model.ptrLike_sequence">
    <xs:sequence>
      <xs:element ref="tei:ptr"/>
      <xs:element ref="tei:ref"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.ptrLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tei:ptr"/>
      <xs:element minOccurs="0" ref="tei:ref"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.ptrLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:ptr"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:ref"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.ptrLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="tei:ptr"/>
      <xs:element maxOccurs="unbounded" ref="tei:ref"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.biblLike">
    <xs:choice>
      <xs:element ref="tei:bibl"/>
      <xs:element ref="tei:listBibl"/>
    </xs:choice>
  </xs:group>
  <xs:group name="tei_model.biblLike_alternation">
    <xs:choice>
      <xs:element ref="tei:bibl"/>
      <xs:element ref="tei:listBibl"/>
    </xs:choice>
  </xs:group>
  <xs:group name="tei_model.biblLike_sequence">
    <xs:sequence>
      <xs:element ref="tei:bibl"/>
      <xs:element ref="tei:listBibl"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.biblLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tei:bibl"/>
      <xs:element minOccurs="0" ref="tei:listBibl"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.biblLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:bibl"/>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:listBibl"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.biblLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="tei:bibl"/>
      <xs:element maxOccurs="unbounded" ref="tei:listBibl"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.headLike">
    <xs:sequence>
      <xs:element ref="tei:head"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.headLike_alternation">
    <xs:sequence>
      <xs:element ref="tei:head"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.headLike_sequence">
    <xs:sequence>
      <xs:element ref="tei:head"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.headLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tei:head"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.headLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:head"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.headLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="tei:head"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.labelLike">
    <xs:sequence>
      <xs:element ref="tei:label"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.labelLike_alternation">
    <xs:sequence>
      <xs:element ref="tei:label"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.labelLike_sequence">
    <xs:sequence>
      <xs:element ref="tei:label"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.labelLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tei:label"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.labelLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:label"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.labelLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="tei:label"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.listLike">
    <xs:sequence>
      <xs:element ref="tei:list"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.listLike_alternation">
    <xs:sequence>
      <xs:element ref="tei:list"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.listLike_sequence">
    <xs:sequence>
      <xs:element ref="tei:list"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.listLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tei:list"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.listLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:list"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.listLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="tei:list"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.pLike">
    <xs:sequence>
      <xs:element ref="tei:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.pLike_alternation">
    <xs:sequence>
      <xs:element ref="tei:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.pLike_sequence">
    <xs:sequence>
      <xs:element ref="tei:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.pLike_sequenceOptional">
    <xs:sequence>
      <xs:element minOccurs="0" ref="tei:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.pLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.pLike_sequenceRepeatable">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" ref="tei:p"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.divPart">
    <xs:sequence>
      <xs:group ref="tei:tei_model.pLike"/>
    </xs:sequence>
  </xs:group>
  <xs:element name="tei_model.publicationStmtPart.agency" abstract="true">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:tei_macro.phraseSeq">
          <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.canonical.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:group name="tei_model.publicationStmtPart.detail">
    <xs:choice>
      <xs:group ref="tei:tei_model.ptrLike"/>
      <xs:element ref="tei:date"/>
      <xs:element ref="tei:pubPlace"/>
      <xs:element ref="tei:availability"/>
    </xs:choice>
  </xs:group>
  <xs:element name="tei_model.availabilityPart" abstract="true">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:tei_macro.specialPara">
          <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.datable.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.pointing.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:group name="tei_model.divTopPart">
    <xs:sequence>
      <xs:group ref="tei:tei_model.headLike"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.divTop">
    <xs:sequence>
      <xs:group ref="tei:tei_model.divTopPart"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.nameLike">
    <xs:sequence>
      <xs:group ref="tei:tei_model.nameLike.agent"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.nameLike_alternation">
    <xs:sequence>
      <xs:group ref="tei:tei_model.nameLike.agent_alternation"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.nameLike_sequence">
    <xs:sequence>
      <xs:group ref="tei:tei_model.nameLike.agent_sequence"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.nameLike_sequenceOptional">
    <xs:sequence>
      <xs:group minOccurs="0" ref="tei:tei_model.nameLike.agent_sequenceOptional"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.nameLike_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.nameLike.agent_sequenceOptionalRepeatable"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.global">
    <xs:sequence>
      <xs:element ref="tei:ptr"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.pPart.data">
    <xs:choice>
      <xs:group ref="tei:tei_model.dateLike"/>
      <xs:group ref="tei:tei_model.nameLike"/>
    </xs:choice>
  </xs:group>
  <xs:group name="tei_model.pPart.data_alternation">
    <xs:choice>
      <xs:group ref="tei:tei_model.dateLike_alternation"/>
      <xs:group ref="tei:tei_model.nameLike_alternation"/>
    </xs:choice>
  </xs:group>
  <xs:group name="tei_model.pPart.data_sequence">
    <xs:sequence>
      <xs:group ref="tei:tei_model.dateLike_sequence"/>
      <xs:group ref="tei:tei_model.nameLike_sequence"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.pPart.data_sequenceOptional">
    <xs:sequence>
      <xs:group minOccurs="0" ref="tei:tei_model.dateLike_sequenceOptional"/>
      <xs:group minOccurs="0" ref="tei:tei_model.nameLike_sequenceOptional"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.pPart.data_sequenceOptionalRepeatable">
    <xs:sequence>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.dateLike_sequenceOptionalRepeatable"/>
      <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.nameLike_sequenceOptionalRepeatable"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="tei_model.inter">
    <xs:choice>
      <xs:group ref="tei:tei_model.biblLike"/>
      <xs:group ref="tei:tei_model.labelLike"/>
      <xs:group ref="tei:tei_model.listLike"/>
    </xs:choice>
  </xs:group>
  <xs:group name="tei_model.common">
    <xs:choice>
      <xs:group ref="tei:tei_model.divPart"/>
      <xs:group ref="tei:tei_model.inter"/>
    </xs:choice>
  </xs:group>
  <xs:group name="tei_model.phrase">
    <xs:choice>
      <xs:group ref="tei:tei_model.highlighted"/>
      <xs:group ref="tei:tei_model.ptrLike"/>
      <xs:group ref="tei:tei_model.pPart.data"/>
    </xs:choice>
  </xs:group>
  <xs:group name="tei_model.paraPart">
    <xs:choice>
      <xs:group ref="tei:tei_model.global"/>
      <xs:group ref="tei:tei_model.inter"/>
      <xs:group ref="tei:tei_model.phrase"/>
    </xs:choice>
  </xs:group>
  <xs:element name="tei_model.divLike" abstract="true">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="tei:tei_model.divTop"/>
          <xs:group ref="tei:tei_model.global"/>
        </xs:choice>
        <xs:choice minOccurs="0">
          <xs:sequence maxOccurs="unbounded">
            <xs:element ref="tei:tei_model.divLike"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.global"/>
          </xs:sequence>
          <xs:sequence>
            <xs:sequence maxOccurs="unbounded">
              <xs:group ref="tei:tei_model.common"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.global"/>
            </xs:sequence>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:element ref="tei:tei_model.divLike"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.global"/>
            </xs:sequence>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tei:tei_att.datable.w3c.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.placement.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.written.attributes"/>
      <xs:attribute name="type">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="intro">
              <xs:annotation>
                <xs:documentation>Contains an introduction to text</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="original">
              <xs:annotation>
                <xs:documentation>Contains text in original language</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="translation">
              <xs:annotation>
                <xs:documentation>Contains translated text</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="tei_model.resource" abstract="true">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.global"/>
        <xs:element ref="tei:body"/>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.global"/>
      </xs:sequence>
      <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.declaring.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.typed.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.written.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="tei_att.personal.attributes">
    <xs:attributeGroup ref="tei:tei_att.naming.attributes"/>
    <xs:attributeGroup ref="tei:tei_att.personal.attribute.full"/>
    <xs:attributeGroup ref="tei:tei_att.personal.attribute.sort"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.personal.attribute.full">
    <xs:attribute name="full" default="yes">
      <xs:annotation>
        <xs:documentation>indicates whether the name component is given in full, as an abbreviation or simply as an initial.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:token">
          <xs:enumeration value="yes">
            <xs:annotation>
              <xs:documentation>(yes) the name component is spelled out in full.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="abb">
            <xs:annotation>
              <xs:documentation>(abbreviated) the name component is given in an abbreviated form.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
          <xs:enumeration value="init">
            <xs:annotation>
              <xs:documentation>(initial letter) the name component is indicated only by one initial.</xs:documentation>
            </xs:annotation>
          </xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.personal.attribute.sort">
    <xs:attribute name="sort" type="xs:nonNegativeInteger">
      <xs:annotation>
        <xs:documentation>(sort) specifies the sort order of the name component in relation to others within the name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.calendarSystem.attributes">
    <xs:attributeGroup ref="tei:tei_att.calendarSystem.attribute.calendar"/>
  </xs:attributeGroup>
  <xs:attributeGroup name="tei_att.calendarSystem.attribute.calendar">
    <xs:attribute name="calendar">
      <xs:annotation>
        <xs:documentation>indicates one or more systems or calendars to which the date represented by the content of this element belongs.</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction>
          <xs:simpleType>
            <xs:list>
              <xs:simpleType>
                <xs:restriction base="xs:anyURI">
                  <xs:pattern value="\S+"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:list>
          </xs:simpleType>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:attributeGroup>
  <xs:element name="p">
    <xs:annotation>
      <xs:documentation>(paragraph) marks paragraphs in prose. [3.1. Paragraphs 7.2.5. Speech Contents]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:tei_macro.paraContent">
          <xs:attributeGroup ref="tei:tei_att.cmc.attributes"/>
          <xs:attribute name="rend">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="indent">
                  <xs:annotation>
                    <xs:documentation/>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="hi">
    <xs:annotation>
      <xs:documentation>(highlighted) marks a word or phrase as graphically distinct from the surrounding text, for reasons concerning which no claim is made. [3.3.2.2. Emphatic Words and Phrases 3.3.2. Emphasis, Foreign Words, and Unusual Language]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:tei_macro.paraContent">
          <xs:attributeGroup ref="tei:tei_att.cmc.attributes"/>
          <xs:attribute name="rend" use="required">
            <xs:annotation>
              <xs:documentation/>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="italics">
                  <xs:annotation>
                    <xs:documentation/>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="bold">
                  <xs:annotation>
                    <xs:documentation/>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="underline">
                  <xs:annotation>
                    <xs:documentation/>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="super">
                  <xs:annotation>
                    <xs:documentation/>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="name">
    <xs:annotation>
      <xs:documentation>(name, proper noun) contains a proper noun or noun phrase. [3.6.1. Referring Strings]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:tei_macro.phraseSeq">
          <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.cmc.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.datable.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.editLike.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.personal.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.typed.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="date">
    <xs:annotation>
      <xs:documentation>(date) contains a date in any format. [3.6.4. Dates and Times 2.2.4. Publication, Distribution, Licensing, etc. 2.6. The Revision Description 3.12.2.4. Imprint, Size of a Document, and Reprint Information 16.2.3. The Setting Description 14.4. Dates]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="tei:tei_model.phrase"/>
        <xs:group ref="tei:tei_model.global"/>
      </xs:choice>
      <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.calendarSystem.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.canonical.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.cmc.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.datable.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.dimensions.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.editLike.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.typed.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ptr">
    <xs:annotation>
      <xs:documentation>(pointer) defines a pointer to another location. [3.7. Simple Links and Cross-References 17.1. Links]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.cReferencing.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.cmc.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.declaring.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.internetMedia.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.pointing.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.typed.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ref">
    <xs:annotation>
      <xs:documentation>(reference) defines a reference to another location, possibly modified by additional text or comment. [3.7. Simple Links and Cross-References 17.1. Links]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:tei_macro.paraContent">
          <xs:attributeGroup ref="tei:tei_att.cReferencing.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.cmc.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.internetMedia.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.pointing.attribute.target"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="list">
    <xs:annotation>
      <xs:documentation>(list) contains any sequence of items organized as a list. [3.8. Lists]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:group ref="tei:tei_model.divTop"/>
          <xs:group ref="tei:tei_model.global"/>
        </xs:choice>
        <xs:choice>
          <xs:sequence maxOccurs="unbounded">
            <xs:element ref="tei:item"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.global"/>
          </xs:sequence>
          <xs:sequence maxOccurs="unbounded">
            <xs:element ref="tei:label"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.global"/>
            <xs:element ref="tei:item"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.global"/>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
      <xs:attribute name="type" use="required">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="gloss">
              <xs:annotation>
                <xs:documentation>List of terms with explanations</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="unlabeled">
              <xs:annotation>
                <xs:documentation>List without labels</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="item">
    <xs:annotation>
      <xs:documentation>(item) contains one component of a list. [3.8. Lists 2.6. The Revision Description]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:tei_macro.specialPara">
          <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.sortable.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="label">
    <xs:annotation>
      <xs:documentation>(label) contains any label or heading used to identify part of a text, typically but not exclusively in a list or glossary. [3.8. Lists]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:tei_macro.phraseSeq">
          <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.cmc.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.placement.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.typed.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.written.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="head">
    <xs:annotation>
      <xs:documentation>(heading) contains any type of heading, for example the title of a section, or the heading of a list, glossary, manuscript description, etc. [4.2.1. Headings and Trailers]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:group ref="tei:tei_model.phrase"/>
        <xs:group ref="tei:tei_model.inter"/>
        <xs:group ref="tei:tei_model.global"/>
      </xs:choice>
      <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.cmc.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.placement.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.typed.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.written.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="title">
    <xs:annotation>
      <xs:documentation>(title) contains a title for any kind of work. [3.12.2.2. Titles, Authors, and Editors 2.2.1. The Title Statement 2.2.5. The Series Statement]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:tei_macro.paraContent">
          <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.canonical.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.cmc.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.datable.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.typed.attribute.subtype"/>
          <xs:attribute name="type">
            <xs:annotation>
              <xs:documentation>classifies the title according to some convenient typology.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:pattern value="[^\p{C}\p{Z}]+"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="level">
            <xs:annotation>
              <xs:documentation>indicates the bibliographic level for a title, that is, whether it identifies an article, book, journal, series, or unpublished material.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:token">
                <xs:enumeration value="a">
                  <xs:annotation>
                    <xs:documentation>(analytic) the title applies to an analytic item, such as an article, poem, or other work published as part of a larger item.</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="m">
                  <xs:annotation>
                    <xs:documentation>(monographic) the title applies to a monograph such as a book or other item considered to be a distinct publication, including single volumes of multi-volume works</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="j">
                  <xs:annotation>
                    <xs:documentation>(journal) the title applies to any serial or periodical publication such as a journal, magazine, or newspaper</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="s">
                  <xs:annotation>
                    <xs:documentation>(series) the title applies to a series of otherwise distinct publications such as a collection</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="u">
                  <xs:annotation>
                    <xs:documentation>(unpublished) the title applies to any unpublished material (including theses and dissertations unless published by a commercial press)</xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="publisher" substitutionGroup="tei:tei_model.publicationStmtPart.agency">
    <xs:annotation>
      <xs:documentation>(publisher) provides the name of the organization responsible for the publication or distribution of a bibliographic item. [3.12.2.4. Imprint, Size of a Document, and Reprint Information 2.2.4. Publication, Distribution, Licensing, etc.]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="pubPlace">
    <xs:annotation>
      <xs:documentation>(publication place) contains the name of the place where a bibliographic item was published. [3.12.2.4. Imprint, Size of a Document, and Reprint Information]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:tei_macro.phraseSeq">
          <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
          <xs:attributeGroup ref="tei:tei_att.naming.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="bibl">
    <xs:annotation>
      <xs:documentation>(bibliographic citation) contains a loosely-structured bibliographic citation of which the sub-components may or may not be explicitly tagged. [3.12.1. Methods of Encoding Bibliographic References and Lists of References 2.2.7. The Source Description 16.3.2. Declarable Elements]</xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="tei:label"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="tei:title"/>
          <xs:element ref="tei:ref"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tei:tei_att.global.attribute.xmlid"/>
      <xs:attributeGroup ref="tei:tei_att.canonical.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.cmc.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.docStatus.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.sortable.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="listBibl">
    <xs:annotation>
      <xs:documentation>(citation list) contains a list of bibliographic citations of any kind. [  ]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.headLike"/>
        <xs:group maxOccurs="unbounded" ref="tei:tei_model.biblLike"/>
      </xs:sequence>
      <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.cmc.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.declarable.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.sortable.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.typed.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="teiHeader">
    <xs:annotation>
      <xs:documentation>(TEI header) supplies descriptive and declarative metadata associated with a digital resource or set of resources. [2.1.1. The TEI Header and Its Components 16.1. Varieties of Composite Text]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tei:tei_fileDesc">
          <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="tei_fileDesc">
    <xs:sequence>
      <xs:element ref="tei:fileDesc"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="fileDesc">
    <xs:annotation>
      <xs:documentation>(file description) contains a full bibliographic description of an electronic file. [2.2. The File Description 2.1.1. The TEI Header and Its Components]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:sequence>
          <xs:element ref="tei:titleStmt"/>
          <xs:element ref="tei:publicationStmt"/>
        </xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tei:sourceDesc"/>
      </xs:sequence>
      <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="titleStmt">
    <xs:annotation>
      <xs:documentation>(title statement) groups information about the title of a work and those responsible for its content. [2.2.1. The Title Statement 2.2. The File Description]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tei:title"/>
      </xs:sequence>
      <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="publicationStmt">
    <xs:annotation>
      <xs:documentation>(publication statement) groups information concerning the publication or distribution of an electronic or other text. [2.2.4. Publication, Distribution, Licensing, etc. 2.2. The File Description]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:sequence maxOccurs="unbounded">
          <xs:element ref="tei:tei_model.publicationStmtPart.agency"/>
          <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.publicationStmtPart.detail"/>
        </xs:sequence>
        <xs:group maxOccurs="unbounded" ref="tei:tei_model.pLike"/>
      </xs:choice>
      <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="availability">
    <xs:annotation>
      <xs:documentation>(availability) supplies information about the availability of a text, for example any restrictions on its use or distribution, its copyright status, any licence applying to it, etc. [2.2.4. Publication, Distribution, Licensing, etc.]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="tei:tei_model.availabilityPart"/>
        <xs:group ref="tei:tei_model.pLike"/>
      </xs:choice>
      <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.declarable.attributes"/>
      <xs:attribute name="status">
        <xs:annotation>
          <xs:documentation>(status) supplies a code identifying the current availability of the text.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="free">
              <xs:annotation>
                <xs:documentation>(free) the text is freely available.</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="unknown">
              <xs:annotation>
                <xs:documentation>(unknown) the status of the text is unknown.</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="restricted">
              <xs:annotation>
                <xs:documentation>(restricted) the text is not freely available.</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="licence" substitutionGroup="tei:tei_model.availabilityPart">
    <xs:annotation>
      <xs:documentation>contains information about a licence or other legal agreement applicable to the text. [2.2.4. Publication, Distribution, Licensing, etc.]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="sourceDesc">
    <xs:annotation>
      <xs:documentation>(source description) describes the source(s) from which an electronic text was derived or generated, typically a bibliographic description in the case of a digitized text, or a phrase such as born digital for a text which has no previous existence. [2.2.7. The Source Description]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:group maxOccurs="unbounded" ref="tei:tei_model.pLike"/>
        <xs:choice maxOccurs="unbounded">
          <xs:group ref="tei:tei_model.biblLike"/>
          <xs:group ref="tei:tei_model.listLike"/>
        </xs:choice>
      </xs:choice>
      <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.declarable.attributes"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="TEI">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:teiHeader"/>
        <xs:choice>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="tei:tei_model.resource"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:TEI"/>
          </xs:sequence>
          <xs:element maxOccurs="unbounded" ref="tei:TEI"/>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.typed.attributes"/>
      <xs:attribute name="version">
        <xs:annotation>
          <xs:documentation>specifies the version number of the TEI Guidelines against which this document is valid.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:pattern value="[\d]+(\.[\d]+){0,2}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="text" substitutionGroup="tei:tei_model.resource">
    <xs:annotation>
      <xs:documentation>(text) contains a single text of any kind, whether unitary or composite, for example a poem or drama, a collection of essays, a novel, a dictionary, or a corpus sample. [4. Default Text Structure 16.1. Varieties of Composite Text]</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="body">
    <xs:annotation>
      <xs:documentation>(text body) contains the whole body of a single unitary text, excluding any front or back matter. [4. Default Text Structure]</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.global"/>
        <xs:sequence minOccurs="0">
          <xs:group ref="tei:tei_model.divTop"/>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="tei:tei_model.global"/>
            <xs:group ref="tei:tei_model.divTop"/>
          </xs:choice>
        </xs:sequence>
        <xs:choice>
          <xs:sequence maxOccurs="unbounded">
            <xs:element ref="tei:tei_model.divLike"/>
            <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.global"/>
          </xs:sequence>
          <xs:sequence>
            <xs:sequence maxOccurs="unbounded">
              <xs:group ref="tei:tei_model.common"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.global"/>
            </xs:sequence>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
              <xs:element ref="tei:tei_model.divLike"/>
              <xs:group minOccurs="0" maxOccurs="unbounded" ref="tei:tei_model.global"/>
            </xs:sequence>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="tei:tei_att.global.attributes"/>
      <xs:attributeGroup ref="tei:tei_att.declaring.attributes"/>
      <xs:attribute name="divRole">
        <xs:annotation>
          <xs:documentation/>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:token">
            <xs:enumeration value="original-translation">
              <xs:annotation>
                <xs:documentation>The divisions in this body represent an original and (a) translated version(s).</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="doc-versions">
              <xs:annotation>
                <xs:documentation>The divisions in this body represent edited text from various alternmative text versions.</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="doc-sections">
              <xs:annotation>
                <xs:documentation>The sequence of divisions in this body together constitute a text.</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="doc-translations">
              <xs:annotation>
                <xs:documentation>The divisions in this body contain alternative language versions of editorial text.</xs:documentation>
              </xs:annotation>
            </xs:enumeration>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="div" substitutionGroup="tei:tei_model.divLike">
    <xs:annotation>
      <xs:documentation>(text division) contains a subdivision of the front, body, or back of a text. [4.1. Divisions of the Body]</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
